.layout-style{
display: flex;
height: 100vh;
}

.layout-menu{
    width: 200px;
    background-color: darkturquoise;
    padding-left: 20px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.layout-content{
    flex: 1;
}

.link-selected{
    background-color: white;
}

.layout-menu .layout-nav nav ul li{
    list-style: none;
    padding-left: 10px;
    font-weight: 700;  
}

.layout-menu .layout-nav nav ul li a{
    text-decoration: none;
    color: black;
}

.layout-menu .layout-nav nav ul li:hover{
    background-color: paleturquoise;
}

